<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>131105019330-5ctvtd1uh24a9i6s5225eu3f45bf81kd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.131105019330-5ctvtd1uh24a9i6s5225eu3f45bf81kd</string>
	<key>API_KEY</key>
	<string>AIzaSyDkBX33KCb8WtTnDGthRLLYoSrpUGNEv0k</string>
	<key>GCM_SENDER_ID</key>
	<string>131105019330</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.opinion.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>opinion-8509e</string>
	<key>STORAGE_BUCKET</key>
	<string>opinion-8509e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:131105019330:ios:448ccbc032b6364570725b</string>
</dict>
</plist>